*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  box-sizing: border-box;
  background-image: $background-gradient;
}
