$background-gradient: radial-gradient(#1f3756, #141539);

$rock-gradient: linear-gradient(to top, #dc2e4e, #dd405d);
$paper-gradient: linear-gradient(to top, #4865f4, #5671f5);
$scissors-gradient: linear-gradient(to top, #ec9e0e, #eca922);
$lizard-gradient: linear-gradient(to top, #834fe3, #8c5de5);
$spock-gradient: linear-gradient(to top, #40b9ce, #52bed1);

$color-dark: #3b4363;
$color-blue: #2a46c0;
$color-grey: #606e85;
