$background-gradient: radial-gradient(#1f3756, #141539);

$scissors-gradient: linear-gradient(to top, #ec9e0e, #eca922);
$paper-gradient: linear-gradient(to top, #4865f4, #5671f5);
$rock-gradient: linear-gradient(to top, #dc2e4e, #dd405d);

$color-dark: #3b4363;
$color-blue: #2a46c0;
$color-grey: #606e85;
