.result {
  position: absolute;
  top: 16rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  @include respond(tablet) {
    width: 100%;
    top: calc(100% + 11.1rem);
    left: initial;
    transform: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__text {
    font-size: 5.6rem;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
  }
}
