.initial {
  margin: 6.4rem auto 3.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @include respond(tablet) {
    margin: 10.5rem auto 14rem;
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 2.4rem;

    @include respond(mobile) {
      justify-content: space-between;
      width: 100%;
      margin-bottom: 4.2vw;
    }

    .play-button:first-child {
      margin-right: 8rem;
      animation: fadeFromLeft 0.6s;

      @include respond(mobile) {
        margin-right: 0;
      }
    }
    
    .play-button:last-child {
      animation: fadeFromRight 0.6s;
    }
  }

  &__bottom {
    @include respond(mobile) {
      display: flex;
      justify-content: center;
    }

    .play-button {
      animation: fadeFromBottom 0.6s;
    }
  }

  &__triangle {
    position: absolute;
    top: calc(#{$play-button-height} / 2);
    text-align: center;
    z-index: -1;

    @include respond(mobile) {
      top: calc(#{$play-button-height-mobile} / 2);
      left: calc(#{$play-button-width-mobile} / 2);
      right: calc(#{$play-button-width-mobile} / 2);
    }

    img {
      width: 100%;
    }
  }
}

@keyframes fadeFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}