.initial {
  margin: 6.4rem auto 3.1rem;
  width: 100%;
  max-width: 48rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @include respond(tablet) {
    margin: 9.5rem auto 12.6rem;
  }

  @include respond(mobile) {
    width: calc(100% - 6.4rem);
  }

  &__top {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__middle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: -2rem 0 3.8rem;

    @include respond(mobile) {
      margin: -1.3rem 0 6.9vw;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    width: 72.5%;
  }

  &__shape {
    position: absolute;
    top: calc(#{$play-button-height} / 2);
    text-align: center;
    z-index: -1;

    @include respond(mobile) {
      top: calc(#{$play-button-height-mobile} / 2);
      left: calc(#{$play-button-width-mobile} / 2);
      right: calc(#{$play-button-width-mobile} / 2);
    }

    img {
      width: 100%;
    }
  }
}
