.play {
  margin: 7.2rem 0 3.1rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  position: relative;

  @include respond(tablet) {
    margin: 9.9rem 0 29.5rem;
  }

  @include respond(mobile-land) {
    justify-content: space-between;
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 29.3rem;
    position: relative;

    @include respond(tablet) {
      width: 50%;
    }
  }

  &__heading {
    font-size: 2.4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1.333;
    margin-bottom: 6.3rem;
    z-index: 10;

    @include respond(tablet) {
      position: absolute;
      top: calc(100% + 1.75rem);
      left: 50%;
      transform: translateX(-50%);
      width: 150%;
      text-align: center;
      margin-bottom: 0;
    }

    @include respond(mobile) {
      font-size: 1.5rem;
      letter-spacing: 1.88px;
      line-height: 2.133;
    }
  }
}
