.rules {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000, 0.5);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;

  @include respond(mobile-land) {
    height: auto;
    min-height: 100%;
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }

  &__content {
    background-color: #fff;
    border-radius: 8px;
    padding: 3.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: all 0.5s;

    @include respond(mobile-land) {
      border-radius: 0;
      top: 0;
      left: 0;
      transform: none;
      width: 100%;
      height: 100%;
      padding: 9.5rem 3.5rem 0;
      text-align: center;
      overflow: scroll;
    }
  }

  &.active &__content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;

    @include respond(mobile-land) {
      transform: none;
    }
  }

  &__top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4.8rem;
    color: $color-dark;

    @include respond(mobile-land) {
      justify-content: center;
      margin-bottom: 11.3rem;
    }
  }

  &__heading {
    text-transform: uppercase;
    font-size: 3.2rem;
    line-height: 1;
  }

  &__img {
    @include respond(mobile-land) {
      width: 100%;
      max-width: 30.5rem;
    }
  }

  &__close {
    font-weight: 600;
    font-size: 2.5rem;
    cursor: pointer;
    opacity: 0.25;

    &:hover {
      opacity: 0.75;
    }

    @include respond(mobile-land) {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 15rem;
      margin-bottom: 6.6rem;
    }
  }
}
